// other.less

@import "../colors.less";
@import "../main.less";

.flex-display(@justify: flex-start, @align: flex-start) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.big-cards {
  width: 100%;
  .flex-display(space-between);
  gap: 24px;

  .left-big-cards {
    position: relative;
    width: 100%;
    background: @White-color;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    height: 100%;
    .flex-display(space-between);

    .context {
      width: 45%;
      height: 100%;
      .media(@tablet; {margin-top: -20px;});
    }
    .text {
      margin: 20px;
    }

    h6 {
      font-size: 12px;
      color: @Gray-color;
      margin-bottom: 3px;
    }

    h4 {
      font-size: 18px;
      color: @Dark-color;
      margin-bottom: 6px;
    }

    p {
      font-size: 14px;
      color: @Gray-color;
    }

    .link-container {
      position: absolute;
      bottom: 0;
      padding-left: 20px;
      margin-bottom: 20px;
      width: fit-content;
      height: fit-content;
      .flex-display();
      gap: 4px;
      cursor: pointer;

      a {
        font-size: 10px;
        color: @Dark-color;
        font-weight: bold;
      }
    }

    .brand-img {
      width: 50%;
      .flex-display();
      align-items: center;
      padding: 20px;

      img {
        width: 100%;
        place-self: center;
      }
    }

    .media(@tablet; {
      width: 100%;
      flex-wrap: wrap-reverse;

      .context {
        width: 100%;
        padding-top: -20px;
        height: fit-content;
      }

      .link-container{
        position: relative;   
        margin-top: 20px;
      }

      .brand-img {
        width: 100%;

      }

      p {
        margin-bottom: 20px;
      }

      h6 {
        font-size: 10px;
      }

      h4 {
        font-size: 16px;
      }
    });
    .media(@desktop; {
      width: 100%;
    });
  }

  .right-big-cards {
    position: relative;
    width: 40%;
    height: 100%;
    background: @White-color;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;

    .img-container {
      // position: absolute;
      padding: 20px;
    }
    .img2 {
      width: 100%;
      object-fit: contain;
      border-radius: 7.5px;
    }

    .flex-display();
    width: 100%;
    flex-direction: column;

    .context {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      height: 100%;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 6px;
      color: @Dark-color;
    }

    p {
      max-width: 90%;
      min-width: 60%;
      font-size: 14px;
      color: @Gray-color;
    }

    .link-container {
      width: fit-content;
      height: fit-content;
      .flex-display();
      cursor: pointer;
      gap: 4px;
      bottom: 0;
      margin-top: 20px;

      a {
        font-size: 10px;
        color: @Dark-color;
        font-weight: bold;
      }
    }

    .media(@tablet; {
      width: 100%;
      .box {
        height: 100%;
      }
      .img-container{
        padding: 20px;
      }
      .img2{
        width: 100%;
        object-fit: cover
      }

    });

    .media(@desktop; {
      width: 60%;
      
    });
  }
}

.media(@mobile; {
  .big-cards {
    flex-direction: column;
    height: auto;

    .left {
      width: 100%;
      margin-bottom: 24px;
    }

    .right {
      width: 100%;
      height: 100%;
      padding: 10px;

      .box {
        height: auto;
        background-size: cover;

      }
    }
  }
});
