.table-card {
    background     : #FFFFFF;
    box-shadow     : 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius  : 15px;
    padding        : 20px;
    height         : fit-content;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    gap            : 34px;
}