.footer-container {
  position: absolute;
  margin: 10px 0px;
  padding: 0;
  bottom: 0px;
  display: flex;
  max-width: 1044.5px;
  width: 100%;
  justify-content: space-between;
  justify-items: center;
  align-self: center;
  font-size: 12px;
  height: 20px;
}
.footer-container .site-info {
  display: flex;
  width: fit-content;
  color: #A0AEC0;
  gap: 4px;
  justify-items: center;
}
.footer-container .site-info .site-brand {
  font-weight: bold;
  text-align: end;
  color: #4FD1C5;
  display: flex;
  height: fit-content;
}
.footer-container .footer-nav {
  display: flex;
  justify-items: center;
  gap: 52px;
  width: fit-content;
}
.footer-container .footer-nav a {
  text-decoration: none;
  color: #A0AEC0;
}
