.login-container {
  width: 353px;
  height: 445px;
  left: 466px;
  top: 282px;
  border: 1px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.login-form {
  max-height: fit-content;
}
.social-account-option {
  display: flex;
  width: 100%;
  justify-content: center;
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input-box .input-field {
  display: flex;
  flex-direction: column;
}
.remember-me-box {
  display: flex;
  gap: 4px;
}
.remember-me-box .remember-me-btn {
  max-width: fit-content;
}
.remember-me-box .login-btn {
  display: flex;
  max-width: fit-content;
}
